{{> header}}
{{> navbar}}

<div>
    <div class="col-12">
        <div class="text-center">
            <img src="https://store-images.s-microsoft.com/image/apps.15041.71343510227343465.377174a9-abc8-4da3-aaa6-8874fdb9e2f5.00fc0a9e-295e-40ca-a391-58ed9f83e9a0?mode=scale&q=90&h=1080&w=1920&background=%23FFFFFF"
                alt="Naruto" style="width: 1400px;">
        </div>
    </div>
    <div>
        <div class="alert alert-warning" role="alert">
            Node App Running, showing some static content
        </div>
    </div>

</div>


{{> footer}}